/* hELPERS*/
.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.allura {
   font-family: 'Allura', cursive; 
}

.dummy-margin {
    margin-top: 40px;
    height: 1px;
}

.fwB {
    font-weight: 600;
}

.mb40 {
    margin-bottom: 40px;
}

.mt40 {
    margin-top: 40px;
}

.mt0 {
    margin-top: 0;
}

.mt15 {
    margin-top: 15px;
}

.mt30 {
    margin-top: 30px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.no-border {
    border: none !important;
}
.ml15 {
    margin-left: 15px;
}

.pad15 {
    padding: 15px;
}

.l20 {
    left: -20px !important;
}

.triangle {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 6px solid transparent;
	border-bottom: 6px solid #000;
	border-right: 6px solid transparent;
	margin-top: 0px;
	margin-left: 0px;
}

.bt5 {
    border-top: 5px solid #cc0000;
}

.clrBloodRed {
    color: #cc0000;
}

.centerIt {
    margin:  0 auto;
}

.fs24 {
    font-size: 24px;
}

.fs36 {
    font-size: 36px;
}

.blu {
    color: #00f;
}

body {
    background-image: url(../img/1.jpg);    
    /*font-family: 'Allura', cursive;*/
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-sidebar {
	background-image: url(../img/left.png);
	height: 100vh;
	position: fixed;
	width: 25%;
	background-repeat: no-repeat;
    left: 0;
}

.left-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 100px;
}

.left-menu > li {
    border: 2px #ffbd54 solid;
    background-color: rgba(255, 153, 51, 0.5);
    margin-bottom: 10px;
    border-radius: 10px;
    width: 70%;
    margin-left: 5px;
}

.left-menu > li > a {
	color: #000;
	font-weight: 600;
	margin-left: 1px;
	font-size: 13px;
	padding: 3px 5px;
	display: block;
}

.left-menu > li > a:hover,
.left-menu > li > a:focus {
    text-decoration: none;
    outline: none;
}

.side-bullet {
    margin-right: 3px;
}

.left-menu-link {
	position: relative;
	top: 2px;
}

.shlok {
	background-image: url(../img/slokh1.png);
	height: 100vh;
	width: 100%;
	position: fixed;
	background-repeat: no-repeat;
}

.logo {
	margin-top: 7px;
}

.logo > img {
    float: right;
}

.navbar {
	height: auto;
    min-height: inherit;
    margin-bottom: 5px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.main-menu > li {
    border-radius: 8px; 
    background-color: #000;
}

.main-menu > li > a {
    border-bottom: none !important;
    color: #fff;
    text-transform: uppercase;
    text-align: left !important;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 9px;
}

.main-menu > li > a:focus,
.main-menu > li > a:hover {
    background-color: #cc0000;
    border-color: transparent;
    border-radius: 8px;
}

.main-menu > li > ul {
    background-color: transparent;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    border: none;
    left: 10px !important;
}

.main-menu > li > ul > li > a {
    background-color: #000;
    color: #fff;
    font-size: 13px;    
    border-left: 2px solid #cc0000;
}

.main-menu > li > ul > li > a:hover,
.main-menu > li > ul > li > a:focus {
    text-decoration: none;
    color: #ff0;
    background-color: #cc0000;
}

.nav-bullet {
    margin-left: -3px;
    margin-right: 5px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-inner {
    border-bottom: 2px solid #000;
    margin-bottom: 48px;
}

.box {
    text-align: left;
    background: rgba(255,153,51,.5);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box .panel-heading > img {
    margin: 0 auto;
}

.box .panel-heading > h4 {
    text-align: center;
}

.box .panel-body {
    padding-top: 0;
}

.box .panel-footer {
    background-color: transparent;
    border-top: none;
    padding-top: 0;
}

.box .panel-footer > a {
    text-align: center;
    display: inherit;
}

.btn-read {
	background-color: #f00;
	color: #fff;
	padding: 5px 15px;
}

.testimonial {
    background: rgba(29,9,104,.7);
    color: #fff;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.testimonial h1 {
    padding: 15px;
    margin-top: 0;
}

.testimonial .content {
    text-align: center;
}

.testimonial .from {
    text-align: center;
    color: #ccc;
    font-size: 12px;
}

.footer {
    border-top: 3px solid #cc0000;;
    background: url(../img/footerdesign.png);
}

.footer-wrapper {
    background-color: rgba(51,51,51,0.4);
    width: inherit;
    height: inherit;
}

.copyright{
    text-align: center;
    color: #fff;
    padding: 10px;
    background-color: #cc0000;
    font-size: 10px;
    font-weight: 600;
}

.footer-col-heading {
    color: #fff;
    font-size: 20px;
    padding-left: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer ul > li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    margin-left: 5px;
}

.footer ul:nth-last-child() {
    border-bottom: none;
}

.footer ul > li > a {
    color: #fff;
}

.footer ul > li > a:hover,
.footer ul > li > a:focus {
    text-decoration: none;
    color: #000;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-list > li {
    float: left;
}

.address {
    color: #fff;
    margin-right: 5px;
}

.breadCrumbs {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 6px;
}

.main-address-img {
    padding: 15px;
}

.admission-details {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 15px;
}

.admission-details2 {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
}

.admission-details > li {
    margin-bottom: 15px;
}

.admission-details2 > li {
    margin-bottom: 15px;
}

.admission-details > li > span {
	font-size: 13px;
	position: relative;
	top: 1px;
}

.listed-item {
	position: relative;
	left: -48px;
    line-height: 24px;
}

.course-table {
    border-color: #000;
}

.course-table > thead  > tr > th {
    border-bottom: 0;
}

.course-table > thead  > tr > th,
.course-table > tbody > tr > td {
    border-color: #000;
    text-align: center;
}

.odissi-heading {
	position: relative;
	top: 3px;
}

.mySlider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-content {
    padding: 15px;
}

.video-content h3 {
    margin-top: 0;
}

.videoFrame {
    padding: 15px;
}

.clipImg {
    padding: 15px;
    height: 200px;
    width: 100%;
}

#sticker {
    z-index: 99999 !important;
}

.glimseImg {
    padding: 15px;
}

.btn-submit {
    background-color: #cc0000;
    color: #fff;
}