/* hELPERS*/
.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

body {
    background-image: url(../img/1.jpg);    
    /*font-family: 'Allura', cursive;*/
    font-family: 'Ubuntu', sans-serif;
}

.left-sidebar {
	background-image: url(../img/left.png);
	height: 100vh;
	position: fixed;
	width: 25%;
	background-repeat: no-repeat;
    left: 0;
}

.left-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 100px;
}

.left-menu > li {
    border: 2px #ffbd54 solid;
    background-color: rgba(255, 153, 51, 0.5);
    margin-bottom: 10px;
    border-radius: 10px;
    width: 70%;
    margin-left: 5px;
}

.left-menu > li > a {
	color: #000;
	font-weight: 600;
	margin-left: 1px;
	font-size: 13px;
	padding: 3px 5px;
	display: block;
}

.left-menu > li > a:hover,
.left-menu > li > a:focus {
    text-decoration: none;
    outline: none;
}

.side-bullet {
    margin-right: 3px;
}

.left-menu-link {
	position: relative;
	top: 2px;
}

.shlok {
	background-image: url(../img/slokh1.png);
	height: 100vh;
	width: 100%;
	position: fixed;
	background-repeat: no-repeat;
}

.logo {
	margin-top: 7px;
}

.logo > img {
    float: right;
}

.navbar {
	height: auto;
    min-height: inherit;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.main-menu > li {
    border-radius: 20px; 
    background-color: #000;
}

.main-menu > li > a {
    border-bottom: none !important;
    color: #fff;
    text-transform: uppercase;
    text-align: left !important;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 9px;
}

.main-menu > li > a:focus,
.main-menu > li > a:hover {
    background-color: transparent;
    border-color: transparent;
}

.nav-bullet {
    margin-left: -3px;
    margin-right: 5px;
}
